body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:17px;
    color: #926239;
    line-height: 1.6; 
}
*{
    margin: 0;
    padding: 0;
}
#showcase{
    background-image: url('C:/Users/avi aggarwal/Desktop/WEB DEVELOPMENT/LANDING PAGE/hey.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 20px;
}

#showcase h1{
    font-size: 50px;
    line-height: 1.2;
}

#showcase p{
    font-size: 20px;
}

#showcase .button{
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: #926239;
    border: #926239 1px solid;
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 10px;

}

#showcase .button:hover{
    background: #926239;
    color: white;
}
#sectiona{
    padding: 20px;
    background: #926239;
    color: azure;
    text-align: center;
}
#sectionb{
    padding: 20px;
    background: #f4f4f4;
    text-align: center;
}
#sectionc{
    display: flex;
}
#sectionc div{
    padding: 20px;
}
#sectionc .box1,  #sectionc .box3{
    background: #926239;
    color: bisque;

}